html, body {
  font-family: "Oxygen", sans-serif; 
  font-weight: 300; 
  margin: 0;
  padding: 0;
  background-color: black;
  background-size: 141px 142px;
}

.header{
padding: 30px 
}

.header ul{
list-style:none;
}

.header li{
display:inline;
color:#fff;
padding:10px;}

.main{
text-align:center;
margin-bottom:80px;
}

.main h1 {
    color: #fff;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 40px;
  	font-size:63px;
}

.main .btn {
    color: #0393ff;
    background: transparent;
    border: 1px solid #0393ff;
    border-radius: 2px;
    padding: 8px 20px;
}

form {
    margin-top: 80px;
}

#search {
    background: transparent;
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    margin: 0 20px;
    width: 400px;
}

.container {
  max-width: 970px;
}

.supporting {
  background-image: url(s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png);
  background-size: 141px 142px;
  text-align:center;
}
.supporting h2, .feature h1 {
    color: #0393ff;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 300;
}

.supporting p {
    margin-bottom: 45px;
    font-size: 16px;
  	color: #fff;
}

.supporting .thumbnail {
    background: transparent;
    border: none;
    padding: 0;
}
.feature {
    text-align: center;
    color: #fff;
 background:url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg) no-repeat center center;
background-size: cover;
height: 380px;
padding: 100px 0 0 0;
}

.footer h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
.footer ul{
list-style:none;
color: #0393ff;
padding-left: 0px;
}